<!DOCTYPE html>
<html lang="en">
<head>
    <link rel ="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login Form</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
    <form class="login-form" action="login" method="post">
      <label for="uname"><b>Username</b></label>
        <input class="un " type="text" align="center" placeholder="Username" id="username" name="username" required>
      <label for="psw"><b>Password</b></label>
        <input class="pass" type="password" align="center" placeholder="Password" id="password" name="password" required>
      <button type="submit" align="center" type="submit" value="Sign in">Sign in</button>
    </form>
  </div>
  </div>
     
</body>

</html>