<!DOCTYPE html>
<html>
<head>
    <title>What's in the box?</title>
</head>
<body>
    <h1>flag{glad_you_were_paying_attention}</h1>
    <img src="https://www.pewpewtactical.com/wp-content/uploads/2017/12/pulp-fiction-looking-inside.gif" alt="open_chest" width="100%">
</body>
</html>