{
    admin off
}

http://postbin1.acmcyber.com:10000 {
	reverse_proxy /* {
		to localhost:7001
	}
}

http://postbin2.acmcyber.com:10000 {
        reverse_proxy /* {
                to localhost:7002
        }
}

http://postbin3.acmcyber.com:10000 {
        reverse_proxy /* {
                to localhost:7003
        }
}

http://postbin4.acmcyber.com:10000 {
        reverse_proxy /* {
                to localhost:7004
        }
}
