<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <!--NAV BAR-->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >

      <form action="/info" class="navbutton" method="get">
        <button type="submit">Info</button>
      </form>

      <form action="/blog" class="navbutton" method="get">
        <button type="submit">Blog</button>
      </form>

      <form action="/user_home" class="navbutton" method="get">
        <button type="submit">User</button>
      </form>

      <form action="/index_check" class="navbutton" method="get">
        <button type="submit">Login</button>
      </form>

      <h4>CY_LABS</h4>
      <h5>
        employee <br />
        account
      </h5>
      <br /><br />
    </div>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>

    <span onclick="openNav()">
      <div class="vl"></div>
    </span>

    <div id="main">
      <header>
        CY_LABS <br /><br />
        - User Profile -
      </header>
      <br />
      <h1>
        Welcome

        <script>
          cookieValue = document.cookie
            .split("; ")
            .find((row) => row.startsWith("user"))
            .split("=")[1];

          var value = decodeURI(cookieValue);

          document.write(value);
        </script>
      </h1>
      <br />
      <form action="/view_user" method="post">
        <% if(data.info) { %>
        <div class="footer">
          <% for (var i = 0; i < data.info.length; i++) { %> <% for (let [key,
          value] of Object.entries(data.info.result[i])) { %> <%= key %> :
          <br />
          <%= value %> <br />
          <br />
          <% } %> <% } %>
        </div>
        <% } else { %> <% if(data.notes) { %>
        <div class="footer">
          MY NOTES: <br /><br />
          <%= data.notes %>
        </div>
        <br />
        <% } else { %>
        <h1>
          <i
            >(Please relogin or verify your password below to see your notes and
            other account information.)
          </i>
        </h1>
        <br />
        <% } %>

        <label>
          <b>Verify Password</b>
        </label>

        <div class="container">
          <input
            type="text"
            placeholder="Enter Password"
            name="password"
            required
          />
          <button type="submit">View My Information</button>
        </div>

        <% if(data.authorization == "unauthorized") { %>
        <div class="unauthorized">Invalid Password</div>
        <% } else if (data.authorization == "error") { %>
        <div class="error">An error has occured</div>
        <%} %> <% } %>
      </form>

      <br />
      <form action="/logout" method="get">
        <button type="submit">Log Out</button>
      </form>
      <br /><br />
      <img
        src="media/pikaaa.gif"
        alt="sorry no flags or gifs here :("
        class="center"
      />
    </div>
  </body>
</html>
